.logo {
  align-items: center;
  background-color: rgb(217, 230, 245);
  height: 100px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100px;
}

.logo > svg {
  height: 100px;
  width: 100px;
}