* {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

figure {
  margin: 0;
}

figure > img {
  height: 7.5rem;
  width: 7.5rem;
}

@media screen and (max-width: 540px) {
  body {
    margin: 1.25rem;
  }
}